// CONTACTO
.grid-container-form button{
    grid-column: 1 / 3;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid-container-form button:hover{
    background-color: #0056b3;
    transition: 300ms;
}
// CERVEZAS

.card__footer button{
    padding: 5px;
    border-radius: 8px;
    background-color: #007bff;
}

.card__footer button:hover{
    background-color: #0056b3;
    transition: 300ms;
}

// USAR VARIABLES PARA LOS BACKGROUND Y LOS COLOR