.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: 1px solid;
    border-radius: 8px;
    label{
        margin: 10px 10px 0 10px;
        color: white;
    }
    input{
        margin: 10px 10px 0 10px;
    }
    textarea{
    grid-column: 1 / 3;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    }
}

.botton-logo{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 500px;
    img{
        max-width: 100%;
        height: auto;
    }
}