h1, h2, h3, h4, h5, h6 {
    font-family: "Reddit Mono", monospace;
    font-weight: 700;
    color: $color-text;
  }
  
  a, li, span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: $color-text-secondary;
  }
  
  p {
    color: $color-tiertary;
    font-size: 16px;
    font-weight: 500;
  }